<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.READ_CALENDAR" />

  <application
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:usesCleartextTraffic="false">

    <activity
      android:name=".MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".calendar.CalendarWidgetConfigureActivity"
      android:exported="true"
      android:theme="@style/AppTheme.CalendarConfiguration">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
      </intent-filter>
    </activity>

    <activity
      android:name=".chores.ChoreWheelConfigureActivity"
      android:exported="true"
      android:theme="@style/AppTheme.CalendarConfiguration">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
      </intent-filter>
    </activity>

    <activity
      android:name=".chores.ChoreWheelSpinActivity"
      android:excludeFromRecents="true"
      android:exported="false"
      android:theme="@style/AppTheme.ChoreWheelSpin" />

    <service
      android:name=".calendar.CalendarWidgetUpdateJobService"
      android:exported="true"
      android:permission="android.permission.BIND_JOB_SERVICE" />

    <receiver
      android:name=".clock.ClockWidgetProvider"
      android:exported="false">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/clock_widget_info" />
    </receiver>

    <receiver
      android:name=".calendar.CalendarWidgetProvider"
      android:exported="false"
      android:label="@string/calendar_widget_name">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/calendar_widget_info" />
    </receiver>

    <receiver
      android:name=".quote.QuoteWidgetProvider"
      android:exported="false"
      android:label="@string/quote_widget_name">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/quote_widget_info" />
    </receiver>

    <receiver
      android:name=".chores.ChoreWheelProvider"
      android:exported="false"
      android:label="@string/chore_widget_name">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/chore_wheel_widget_info" />
    </receiver>
  </application>

</manifest>
